In [ ]:
haveCNIC = input("Do you have CNIC: ")

if haveCNIC == "Yes":

    inVoterList = input("Are you in voter list: ")
    if inVoterList == "Yes":
        print("You can cast your Vote")
    else:
        print("You Cannot Cast Your Vote")
else:
    print("You cannpt cast your vote")

In [3]:
#Nested if conditions
cnic_Status = input ("Do you have a valid cnic").lower() #Lower case .lower() and upper case .upper()
if cnic_Status == "yes":
    print("Come Inside")
    name_in_list = input("is your name in voter list?")
    if name_in_list == "yes":
        print("you can cast vote")
    else:
        print("you can not cast vote")
        
else: print("you can not cast vote")

Do you have a valid cnicYES
Come Inside
is your name in voter list?YES
you can not cast vote

In [5]:
#using same above example with "and operator"
cnic_Status = input ("Do you have a valid cnic").lower()
name_in_list = input("is your name in voter list?").lower()

if ((cnic_Status =="yes") and (name_in_list == "yes")):
    print ("You can Cast Vote")
    
else:
    print("you can not cast Vote")

Do you have a valid cnicyes
is your name in voter list?no
you can not cast Vote

In [6]:
#if elif else
marks = int(input("Enter marks "))
grade = " "
if marks>=90:
    grade = "A*"
elif marks>=80:
    grade = "A"
elif marks>=70:
    grade = "B"
elif marks>=60:
    grade = "C"
elif marks>=50:
    grade = "D"
elif marks<50:
    grade = "U"
else:
    print ("Sorry you are not passed try again")
    
print ("your grade is " + grade)

Enter marks 78
your grade is B

In [4]:
#using "or" operator
char = input("enter a character ")

if (char =="a" or char=="e" or char=="i" or char=="0" or char=="u"):
    print ("the character is vowel")
    
else:
    print ("the character is a consonant")

enter a character r
the character is a consonant

In [ ]:
#comments multiple lines then select lines and press "cltr + /"
#also write three single quotation marks 
'''aadasdasdasdasdasdasd'''

In [5]:
#List
# Assign list in single variable
aList = ["asad", "saad",'Ali','Danish','fahad' , 'kami', 'fahad']
len(aList)

4

In [7]:
aList[2]

'Ali'

In [11]:
#List can hold multiple data types together
list2 = ['apple', '123','false','123.5']
list2.append(1009)
list2.insert()

In [ ]:
list2[0]="orange"

In [14]:
print (list2)

['apple', '123', 'false', '123.5', 1009]

In [7]:
#1-Jun-2019 Class work
#list remove
aList = ['oranges', 'apple', 'banana', 'peach','banana']
print (aList)

['oranges', 'apple', 'banana', 'peach', 'banana']

In [8]:
print (aList)

['oranges', 'apple', 'banana', 'peach', 'banana']

In [9]:
aList.remove('banana')

In [10]:
print (aList)

['oranges', 'apple', 'peach', 'banana']

In [11]:
numlist = [23,4,5,6,4,56,2,5,6,9,10,1,3]
print (numlist)

[23, 4, 5, 6, 4, 56, 2, 5, 6, 9, 10, 1, 3]

In [13]:
numlist.sort()

In [14]:
print (numlist)

[1, 2, 3, 4, 4, 5, 5, 6, 6, 9, 10, 23, 56]

In [15]:
numlist.sort(reverse = True)

In [16]:
numlist

[56, 23, 10, 9, 6, 6, 5, 5, 4, 4, 3, 2, 1]

In [22]:
clist = [99,23,56,45,65,92,91,95,89]
x = clist.pop()
print (clist)
print (x)

[99, 23, 56, 45, 65, 92, 91, 95]
89

In [31]:
dlist = [99,23,56,45,65,92,91,78,56]

In [32]:
y = dlist.pop(2)

In [33]:
print (y)
print (dlist)

56
[99, 23, 45, 65, 92, 91, 78, 56]

In [34]:
namelist = ["Salman", "Noman", "Atif", "Aslam", "Saquib","Nadeem"]

In [60]:
z = namelist.pop()

In [61]:
print (z)

Salman

In [62]:
poplist = [(z)]

In [63]:
print (poplist)

['Salman']

In [64]:
print (namelist)

[]

In [80]:
#way of Teacher for using pop and emptylist
Nlist = [9,5,8,7,12,13,14,15,16]
emptylist=[]

In [87]:
emptylist.append(Nlist.pop())

In [88]:
print (Nlist)
print (emptylist)

[9, 5, 8, 7, 12]
[16, 15, 14, 13]

In [79]:
len(Nlist)

8

In [89]:
a = [3,5,6,9,7,12,13,14,15]
b = []

In [99]:
if len(a)!=0:
    b.append(a.pop())
    print (a)
    print (b)
else:
    print("list is empty, now can not be popped to 'b' list")

list is empty, now can not be popped to 'b' list