In [1]:
x=4+3%5
print(x)

7

In [33]:
import random

In [2]:
A=16
B=15
y=A%B//A
print(y)

0

In [2]:
z=int(43.55+2/2)
print(z)

44

In [4]:
print('{0:.2}'.format(1/3))

0.33

In [5]:
if (9 < 0) and (0 < -9):
   print("hello")
elif (9 > 0) or False: 
   print("good") 
else: 
   print("bad")

good

In [6]:
not(10<20) and not(10>30)

False

In [13]:
#list1 = list()
#list1 = [].
list1 = list([1, 2, 3])
print (list1)

[1, 2, 3]

In [22]:
list2=list("hello")
print(list2)

['h', 'e', 'l', 'l', 'o']

In [24]:
len(list2)

5

In [32]:
list11=[2445,133,12454,123]
max(list11)
list11.shuffle()

AttributeError: 'list' object has no attribute 'shuffle'

In [36]:
random.shuffle(list11)

In [35]:
list11

[123, 2445, 12454, 133]

In [37]:
list11

[123, 133, 2445, 12454]

In [38]:
names = ['Amir', 'Bear', 'Charlton', 'Daman']
print(names[-1][-1])

n

In [4]:
names1 = ['Amir', 'Bear', 'Charlton', 'Daman']
names2 = names1
names3 = names1[:]
names2[0] = 'Alice'
names3[1] = 'Bob'

sum = 0
for ls in (names1, names2, names3):
    if ls[0] == 'Alice':
        sum += 1
    if ls[1] == 'Bob':
        sum += 10

print(sum)
print (names3)

12
['Amir', 'Bob', 'Charlton', 'Daman']

In [46]:
list22=[1,2,3]
list33 = list22 * 2
list33

[1, 2, 3, 1, 2, 3]

In [47]:
list1 = [11, 2, 23]
list2 = [11, 2, 2]
list1 < list2

False

In [51]:
names1 = ['Amir', 'Bala', 'Charlie']
names2 = [name.lower() for name in names1]

print(names2[2][1])

h

In [52]:
a=[1,2,3] 
b=a.append(4) 
print(a) 
print(b)

[1, 2, 3, 4]
None

In [53]:
a=[14,52,7]
b=a.copy()
b is a

False

In [54]:
print(b)

[14, 52, 7]

In [55]:
b is a

False

In [56]:
a is b

False

In [57]:
a is a

True

In [58]:
b is b

True

In [61]:
a1 = [13]
b1 = a1.copy()

print(b1)

[13]

In [62]:
a1 is b1

False

In [63]:
print(a1)
print(b1)

[13]
[13]

In [64]:
a=[13,56,17] 
a.append([87]) 
a.extend([45,67]) 
print(a)

[13, 56, 17, [87], 45, 67]

In [65]:
a=list((45,)*4) 
print((45)*4) 
print(a)

180
[45, 45, 45, 45]

In [66]:
word1="Apple" 
word2="Apple" 
list1=[1,2,3] 
list2=[1,2,3] 
print(word1 is word2) 
print(list1 is list2)

True
False

In [5]:
dict1={"Name":"Solat","Age":"33","Gender":"Male"}
print(dict1)

{'Name': 'Solat', 'Age': '33', 'Gender': 'Male'}

In [6]:
for i in dict1:
    print(i)

Name
Age
Gender

In [8]:
for (k,v) in dict1.items():
    print(f"{k}:{v}")

Name:Solat
Age:33
Gender:Male

In [12]:
dict1["Name"]="Solat Abbas"

In [13]:
print(dict1)

{'Name': 'Solat Abbas', 'Age': '33', 'Gender': 'Male', 0: 'Solat Abbas'}

In [14]:
del dict1[0]

In [15]:
print(dict1)

{'Name': 'Solat Abbas', 'Age': '33', 'Gender': 'Male'}

In [16]:
dict1["Address"]="Karachi"

In [17]:
print (dict1)

{'Name': 'Solat Abbas', 'Age': '33', 'Gender': 'Male', 'Address': 'Karachi'}

In [18]:
dict1["Email"]="solat.rizvi@gmail.com"

In [19]:
print (dict1)

{'Name': 'Solat Abbas', 'Age': '33', 'Gender': 'Male', 'Address': 'Karachi', 'Email': 'solat.rizvi@gmail.com'}

In [36]:
details={'Name': 'Solat Abbas', 'Age': '33', 'Gender': 'Male'}
for (n,m) in details:
    print(n)

ValueError: too many values to unpack (expected 2)

TypeError: 'dict' object is not callable

In [12]:
num1=5
if num1 >=91:
    num2 = 3
else:
    if num1 < 6:
        num2 =4
        #else:
         #   num2=2
x=num2*num1 +1
print(x,x%7)

21 0

In [13]:
unichr(1234)

NameError: name 'unichr' is not defined

In [15]:
import zip

ModuleNotFoundError: No module named 'zip'

In [19]:
a=range(5)
b=range(10)
print(zip(a,b))
x=zip(a,b)
print(list(x))

<zip object at 0x0000027794C16988>
[(0, 0), (1, 1), (2, 2), (3, 3), (4, 4)]

In [23]:
x = 13%2
print(x)

1

In [25]:
trunc()

NameError: name 'trunc' is not defined

In [26]:
i = 1
while True:
    if i%0O7 == 0:
        break
    print(i)
    i += 1

1
2
3
4
5
6

In [2]:
s = 'a' + 'b' \
    + 'c' + 'd' \
    + 'e' + 'f'
print(s)

abcdef

In [ ]:
s

In [1]:
d=5
h=8
print(d+h)

13

In [2]:
def myfunc(x, y, z, a): 
    print (x + y) 
nums = [1, 2, 3, 4] 
myfunc(*nums)

3

In [4]:
while a=10:
    print('Howdy')

SyntaxError: invalid syntax (<ipython-input-4-2050b780b435>, line 1)

In [3]:
name = 'python'
while bool(name) == False:
    print('hi')
print (name)

python

In [5]:
def dostuff(param1, *param2): 
    print (type(param2))

dostuff('apples', 'bananas', 'cherry', 'dates')

<class 'tuple'>

In [6]:
if False:
    print('Hi')
elif True:
    print('Hello')
else:
    print('Howdy')

Hello

In [8]:
print "hello" 'world'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("hello" 'world')? (<ipython-input-8-df518e9f0c1a>, line 1)

In [9]:
var = 100
if ( var == 100 ) :
    print ("Value of expression is 100")

Value of expression is 100

In [11]:
def addItem(listParam):
    listParam += [1]
mylist = [1, 2, 3, 4]
addItem(mylist) 
print len(mylist)

SyntaxError: invalid syntax (<ipython-input-11-18a4cfc32ace>, line 5)

In [12]:
cities = ['karachi','islamabad']
cities=cities.upper()
print(cities)

AttributeError: 'list' object has no attribute 'upper'

In [4]:
list1=[1,2,3,4]
print (list1)

[1, 2, 3, 4]

In [6]:
for i in range(1,2):
    i=[-1,list1]
    print (i)

[-1, [1, 2, 3, 4, 5]]

In [9]:
if False:
    print("china")
elif True:
    print("new york")
else:
    print(123)

new york