# Q1:

Think of at least three kinds of your favorite pizza. Store these pizza names in a list, and then use a for loop to print the name of each pizza.

In [13]:
fav_pizza = ["chicken pizza", "tikka pizza", "cheese pizza"]
for i in fav_pizza :
    print (i)

chicken pizza
tikka pizza
cheese pizza

# Q2

Start with your last question , Modify your for loop to print a sentence using the name of the pizza
instead of printing just the name of the pizza. For each pizza you should
have one line of output containing a simple statement like I like pepperoni
pizza.

In [20]:
pizza = ["chicken pizza", "tikka pizza", "cheese pizza", "pepperoni pizza"]
for pizzas in pizza :
    print("I like", pizza , "flavour")

I like ['chicken pizza', 'tikka pizza', 'cheese pizza', 'pepperoni pizza'] flavour
I like ['chicken pizza', 'tikka pizza', 'cheese pizza', 'pepperoni pizza'] flavour
I like ['chicken pizza', 'tikka pizza', 'cheese pizza', 'pepperoni pizza'] flavour
I like ['chicken pizza', 'tikka pizza', 'cheese pizza', 'pepperoni pizza'] flavour

# Q3:

Use a for loop to print the numbers from 1 to 20,
inclusive.

In [21]:
for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

# Q4:

Use the third argument of the range() function to make a list
of the odd numbers from 1 to 20. Use a for loop to print each number.

In [2]:
for i in range(1,22,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21

##

# Q5:

Make a list of the multiples of 3 from 3 to 30. Use a for loop to
print the numbers in your list.

In [23]:
multiples_of_three=[3,6,9,12,15,18,21,24,27,30]
for i in multiples_of_three:
    print(i)

3
6
9
12
15
18
21
24
27
30

# Q6:

A number raised to the third power is called a cube. For example,
the cube of 2 is written as 2**3 in Python. Make a list of the first 10 cubes (that
is, the cube of each integer from 1 through 10), and use a for loop to print out
the value of each cube

In [25]:
cubes=[1,8,27,64,125,343,512,729,1000,]
for i in cubes:
    print(i)

1
8
27
64
125
343
512
729
1000

In [26]:
cubes1=[1,2,3,4,5,6,7,8,9,10]
for i in cubes1:
    print("cube of ",i," =",i**3)

cube of  1  = 1
cube of  2  = 8
cube of  3  = 27
cube of  4  = 64
cube of  5  = 125
cube of  6  = 216
cube of  7  = 343
cube of  8  = 512
cube of  9  = 729
cube of  10  = 1000

# Q7:

###### Make a python program that conatains your nine favourite dishes in a list called foods.

###### Print the message, The first three items in the list are:. 
###### Then use a slice to print the first three items from that program’s list.

###### Print the message, Three items from the middle of the list are:
###### Use a slice to print three items from the middle of the list.

###### Print the message, The last three items in the list are:
###### Use a slice to print the last three items in the list.

In [27]:
food=["briyani","qurma","chicken","nehari","daal","mutton","vegitable","tikka","beef","qeema","chana"]
print('first three favourate dishes is:')
food[0:3]

first three favourate dishes is:

['briyani', 'qurma', 'chicken']

In [34]:
print('the middle three favourate dishes are:')
food[3:6]

the middle three favourate dishes are:

['nehari', 'daal', 'mutton']

In [35]:
print('the last three favourate dishes are:')
food[8:11]

the last three favourate dishes are:

['beef', 'qeema', 'chana']

# Q8:

### Start with your program from your last Question8.
###### Make a copy of the list of foods, and call it friend_foods.
###### Then, do the following:
######    Add a new dish to the original list.
######    Add a different dish to the list friend_foodss.
######    Prove that you have two separate lists. 
###### Print the message, My favorite pizzas are: and then use a for loop to print the first list. 
###### Print the message,
###### My friend’s favorite foods are:, and then use a for loop to print the second list.
    
##### NOTE: Make sure each new dish is stored in the appropriate list.

In [38]:
fav_pizza = ["chicken pizza", "tikka pizza", "cheese pizza"]
food=["briyani","qurma","chicken","nehari","daal","mutton","vegitable","tikka","beef","qeema","chana"]
print("my favourate pizza are:")
print('-----------------------')
for i in pizza:
    print(i)
print("my favourate food are:")
print('-----------------------')
for i in food:
    print(i)

my favourate pizza are:
-----------------------
chicken pizza
tikka pizza
cheese pizza
pepperoni pizza
my favourate food are:
-----------------------
briyani
qurma
chicken
nehari
daal
mutton
vegitable
tikka
beef
qeema
chana

# Q9:

Take a user input from console line.Store it in a variable called Alien_color.

If the alien’s color is red, print a statement that the player just earned 5 points for shooting the alien.

If the alien’s color isn’t green, print a statement that the player just earned 10 points.

If the alien's color isn't red or green , print a statment :, Alien is no more.....

In [3]:
alien_color = input("the alien color:")

the alien color:green

In [4]:
if (alien_color == 'rad' or alien_color == 'red'):
    print('the player just earned 5 point for shooting the alien')
elif (alien_color != 'green'):
    print('the player earned 10 pounts for shooting the alien')
elif (alien_color != 'red' or alien_color != 'gree'):
    print('alien is no more ')

alien is no more

# Q10:

Write an if-elif-else chain that determines a person’s
stage of life. Set a value for the variable age, and then:
    
•	 If the person is less than 2 years old, print a message that the person is a baby.

•	 If the person is at least 2 years old but less than 4, print a message that the person is a toddler.

•	 If the person is at least 4 years old but less than 13, print a message that the person is a kid.

•	 If the person is at least 13 years old but less than 20, print a message that the person is a teenager.

•	 If the person is at least 20 years old but less than 65, print a message that the person is an adult.

•	 If the person is age 65 or older, print a message that the person is an elder.

In [48]:
age=int(input('kindly enter your age !\n'))
if age<= 2:
    print('you are babay')
elif age>=2 and age<4 :
    print('you are toddler')
elif age>=4 and age<13 :
    print('you are kid')
elif age>=13 and age<20 :
    print('you are teenager')
elif age>=20 and age <65 :
    print('you are adult')
elif age>=65 :
    print('you are elder')

kindly enter your age !
33
you are adult

# Q11:

Do the following to create a program that simulates how websites ensure that everyone has a unique username.

•	 Make a list of five or more usernames called current_users.

•	 Make another list of five usernames called new_users. 
Make sure one or two of the new usernames are also in the current_users list.

•	 Loop through the new_users list to see if each new username has already been used. 
If it has, print a message that the person will need to enter a new username. 
If a username has not been used, print a message saying that the username is available.

•	 Make sure your comparison is case insensitive. If 'John' has been used, 'JOHN' should not be accepted.

In [54]:
current_users = ['iffi', 'mobeen', 'james', 'erin', 'sahil']
new_users = ['wan', 'mobeen', 'saim', 'sahil', 'raine']

current_users_lower = [user.lower() for user in current_users]

for new_user in new_users:
    if new_user.lower() in current_users_lower:
        print("Sorry " + new_user + ", that name is taken.")
    else:
        print("Great, " + new_user + " is still available.")

Great, wan is still available.
Sorry mobeen, that name is taken.
Great, saim is still available.
Sorry sahil, that name is taken.
Great, raine is still available.

# Q12:

Use a dictionary to store information about a person you know.
Store their first name, last name, age, and the city in which they live. 
You should have keys such as first_name, last_name, age, and city. 
Print each piece of information stored in your dictionary

In [16]:
person_info={'first name':"Sumair",'last name':"sahil", "age":11,"city":"karachi"}

In [17]:
person_info

{'first name': 'Sumair', 'last name': 'sahil', 'age': 11, 'city': 'karachi'}

In [18]:
person_info['last name']

'sahil'

In [19]:
for key in person_info.keys():
    print(key)

first name
last name
age
city

In [20]:
for val in person_info.values():
    print(val)

Sumair
sahil
11
karachi

# Q13:

Starts with your last question 12 , loop through the dictionary’s keys and values.
When you’re sure that your loop works, add five more Python terms to your
dictionary . When you run your program again, these new words and meanings
should automatically be included in the output.

In [22]:
person_info={'first name':"Sumair",'last name':"sahil", "age":21,"city":"karachi"}

In [23]:
person_info

{'first name': 'Sumair', 'last name': 'sahil', 'age': 21, 'city': 'karachi'}

In [24]:
person_info['Qualification']=['graduate']

In [25]:
person_info

{'first name': 'Sumair',
 'last name': 'sahil',
 'age': 21,
 'city': 'karachi',
 'Qualification': ['graduate']}

In [28]:
person_info['status']=['married']

In [29]:
person_info

{'first name': 'Sumair',
 'last name': 'sahil',
 'age': 21,
 'city': 'karachi',
 'Qualification': ['graduate'],
 'status': ['married']}

# Q14:

Make a dictionary containing three major rivers and the country
each river runs through. One key-value pair might be 'nile': 'egypt'.
    
    
•	 Use a loop to print a sentence about each river, such as The Nile runs
through Egypt.

NOTE: use upper case through keys and values.

In [33]:
rivers={'sindh':"pakistan",'nile':'egypt','Amazon':'afriqa'}

In [36]:
for m,v in rivers.items ():
    print(m,"runs through", v)

sindh runs through pakistan
nile runs through egypt
Amazon runs through afriqa

# Q15:

Make several dictionaries, where the name of each dictionary is the
name of a pet. In each dictionary, include the kind of animal and the owner’s
name. Store these dictionaries in a list called pets. Next, loop through your list
and as you do print everything you know about each pet.

In [40]:
cat={'name':'cat','kind':"afriqan",'color':"black",'owner':"jame"}
dog={'name':"dog",'kind':"american",'color':"brown",'owner':"Trump"}
cow={'name':"cow",'kind':"austrailian",'color':"white",'owner':"phlip"}
pet=[cat,dog,cow]
for i in pet:
    print(i)

{'name': 'cat', 'kind': 'afriqan', 'color': 'black', 'owner': 'jame'}
{'name': 'dog', 'kind': 'american', 'color': 'brown', 'owner': 'Trump'}
{'name': 'cow', 'kind': 'austrailian', 'color': 'white', 'owner': 'phlip'}