In [1]:
#Tuples
cities = ('Khi', 'Lhr', 'ISL')

In [2]:
cities

('Khi', 'Lhr', 'ISL')

In [6]:
#Loops  (if any task required to use muliple times)
for a in range(10):  #10 = 0 to 9 range
    print(a, "nasir")

0 nasir
1 nasir
2 nasir
3 nasir
4 nasir
5 nasir
6 nasir
7 nasir
8 nasir
9 nasir

In [7]:
for a in range(5,10):  #10 = 5 to 9 range
    print(a, "solat")

5 solat
6 solat
7 solat
8 solat
9 solat

In [9]:
for a in range(0,10,2):  #(Start,end-1,step)
    print(a, "solat")

0 solat
2 solat
4 solat
6 solat
8 solat

In [10]:
for a in range(10,0,-1):  #reverse sereies
    print(a, "solat")

10 solat
9 solat
8 solat
7 solat
6 solat
5 solat
4 solat
3 solat
2 solat
1 solat

In [11]:
for name in ['khi','lhr','isl']:
    print(name)

khi
lhr
isl

In [12]:
for character in "string":
    print(character)

s
t
r
i
n
g

In [19]:
a = ['khi','lhr','isl']
for name in (len(a)):
    print(name)

TypeError: 'int' object is not iterable

In [17]:
#PAss Break, and continue
friends = ['a','b','c','d','e','f','g']

for friend in friends:
    if friend!= "e":
        print("continue and enjoy party")
    else:
        print("party is over")
        break  # we can use "break" or use "continue"

continue and enjoy party
continue and enjoy party
continue and enjoy party
continue and enjoy party
party is over

In [18]:
for a in range (10):
    if a==5:
        break #or use "continue"
    print(a)

0
1
2
3
4

In [19]:
for a in range (10):
    if a==5:
        pass
    print(a)

0
1
2
3
4
5
6
7
8
9

In [31]:
num=float(input("Enter which table you need to Print: "))
for a in range (1,10+1):
    print("{0} * {1} = {2}".format(num,a,(num*a)))

Enter which table you need to Print: 5
5.0 * 1 = 5.0
5.0 * 2 = 10.0
5.0 * 3 = 15.0
5.0 * 4 = 20.0
5.0 * 5 = 25.0
5.0 * 6 = 30.0
5.0 * 7 = 35.0
5.0 * 8 = 40.0
5.0 * 9 = 45.0
5.0 * 10 = 50.0

In [32]:
for tables in range (2,10, 2):
    print ("==============")
    for num in range (1,11):
        print(f"{tables} * {num} = {tables*num}")

==============
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
==============
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
==============
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
==============
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

In [33]:
myDic = {"names":"PIAIC", "age":23,"degree":"BS","Location":"Khi"}

In [42]:
myDic = {"names":"PIAIC", "age":"23","degree":"BS","Location":"Khi",5:"python"}
myDic[5]

'python'

In [43]:
for k,v in myDic.items(): #items will take both
    print(k,v)

names PIAIC
age 23
degree BS
Location Khi
5 python

In [44]:
for k in myDic.keys():
    print(k)

names
age
degree
Location
5

In [45]:
for k in myDic.keys():
    print(myDic[k])

PIAIC
23
BS
Khi
python

In [46]:
for k in myDic.values():
    print(k)

PIAIC
23
BS
Khi
python

In [49]:
a=[2,4,5,66,55,88,99]
b=[33,44,55,77]
c=['asad','noman','kamal','jamal',a,b]
c

['asad',
 'noman',
 'kamal',
 'jamal',
 [2, 4, 5, 66, 55, 88, 99],
 [33, 44, 55, 77]]

In [50]:
c[2]

'kamal'

In [51]:
c[4]

[2, 4, 5, 66, 55, 88, 99]

In [52]:
c[5][2]

55

In [53]:
c[5][1:]

[44, 55, 77]

In [59]:
c[5].remove(44)

In [60]:
c[5]

[33, 55, 77]

In [61]:
aa = [11,22,33,myDic]
aa

[11,
 22,
 33,
 {'names': 'PIAIC',
  'age': '23',
  'degree': 'BS',
  'Location': 'Khi',
  5: 'python'}]

In [63]:
aa[3]["age"]

'23'

Tuples in List

In [64]:
#list in Dictionary
dd={'names':['Asad',"Noman","rizwan","Kaleem"]}

In [65]:
dd["names"]

['Asad', 'Noman', 'rizwan', 'Kaleem']

In [67]:
dd['names'][3]

'Kaleem'

In [68]:
#dic in dic
qq = {'name':myDic}
qq

{'name': {'names': 'PIAIC',
  'age': '23',
  'degree': 'BS',
  'Location': 'Khi',
  5: 'python'}}

In [69]:
qq['name']['Location']

'Khi'

In [70]:
tt = {"name":"Saylani",'age':55,'name':'Solat'}
tt

{'name': 'Solat', 'age': 55}

In [3]:
#Loop
str1 = ["I am from"] # outer loop repeat for each inner loop
str2 = ["Pakistan","Dubai","USA","China"] # inner loop

for x in str1:
    for y in str2:
        print(x,y)

I am from Pakistan
I am from Dubai
I am from USA
I am from China

In [4]:
x =5
print(x)

5

In [5]:
g = 2.8
print (g)

2.8

In [6]:
x = "Hello" [0]
print(x)

H

In [11]:
hh = {"solat", "solat","Kumail"}
print (hh)

{'solat', 'Kumail'}

In [12]:
print (type(hh))

<class 'set'>

11

In [28]:
for table1 in range (2,10):
    print ("============")
    for numbs in range (1,11):
        print(f'{table1} * {numbs} = {table1*numbs}')

============
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
============
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
============
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
============
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
============
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
============
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
============
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
============
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90