In [1]:
print ("Hello PIAIC") #string

Hello PIAIC

In [2]:
print (123) #integer or float

123

In [3]:
print (123, "hello ada love") #both

123 hello ada love

In [4]:
print(2.8) #Float

2.8

In [5]:
type (123) #type function to find type of data

int

In [6]:
type (2.8)

float

In [7]:
name ="Nasir Hussain"

In [8]:
print (name)

Nasir Hussain

In [9]:
name = "Salman"

In [10]:
print (name)

Salman

In [11]:
id (name)

1904730088536

In [14]:
number = 5

In [15]:
print (number)

5

In [16]:
number =4.7

In [17]:
print(number)

4.7

In [25]:
no_1 = 5
no_2 = 19

In [27]:
no_1+no_2

24

In [30]:
print ("hamza", 123,3.5,sep="@@@")

hamza@@@123@@@3.5

In [31]:
print("This is our First Class")
print("This is our Second Class")

This is our First Class
This is our Second Class